<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Dotfuscator</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="alert alert-info" role="alert">
  <p> Dotfuscator is the product of Preemptive, for more infomation, please visit <a
    href="https://www.preemptive.com/products/dotfuscator/overview" target="_blank"> <b>here</b></a>
  </p>
  <p>Keysight has a global enterprise agreement with Preemptive for Dotfuscator. Keysight user can download
    Dotfuscator and license directly from Keysight ES portal and use it within Keysight.</p>
  <p>For dotfuscator support, please contact PDL-DOTFUSCATOR_SUPPORT</p>
</div>

<div class="well">
  <h4>Dotfuscator License File</h4>
  <p>Register Dotfuscator using this license file</p>
  <p>
    <a (click)="downloadLicenseFile()" type="button"
       class="btn btn-primary"><span class="glyphicon glyphicon-download-alt"
                                     aria-hidden=" true"></span> Download
    </a>
    <a class="btn btn-primary" data-toggle="collapse"
       href="#collapseLicenseFileInstallInstructions" aria-expanded="false"
       aria-controls="collapseLicenseFileInstallInstructions">
        <span class="glyphicon glyphicon-console"
              aria-hidden=" true"></span>
      Install Instructions
    </a>
  </p>
  <div class="collapse" id="collapseLicenseFileInstallInstructions">
    <div class="card card-block">
      <p>1. Download Dotfuscator license file</p>
      <p>2. a) <b>For Windows XP</b>, move it to C:\Document and Settings\All Users\Application Data\PreEmptive
        Solutions\Dotfuscator Professional Edition\4.0, b) <b>For Windows7 and above</b>, move it to
        C:\ProgramData\PreEmptive Solutions\Dotfuscator Professional
        Edition\4.0
      <p></p>
    </div>
  </div>
</div>

<div class="well">
  <h4>{{latest}} <span class="label label-info">New</span></h4>
  <p>Dotfuscator Installation Package</p>
  <p>
    <a (click)="downloadLatestDotfuscator()" type="button"
       class="btn btn-primary"><span class="glyphicon glyphicon-download-alt"
                                     aria-hidden=" true"></span> Download
    </a>
    <a class="btn btn-primary" data-toggle="collapse"
       href="#collapseResourceServiceInstallInstructions" aria-expanded="false"
       aria-controls="collapseResourceServiceInstallInstructions">
        <span class="glyphicon glyphicon-console"
              aria-hidden=" true"></span>
      Install Instructions
    </a>
  </p>
  <div class="collapse" id="collapseResourceServiceInstallInstructions">
    <div class="card card-block">
      <p>1. Download Dotfuscator installation package</p>
      <p>2. Double click the installation package and install Dotfuscator</p>
    </div>
  </div>
</div>

<label>Older Version</label>

<table class="table">
  <thead>
  <tr>
    <th>Version</th>
    <th>Action</th>
    <th>Comments</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of dotfuscatorInfo">
    <td>{{item}}</td>
    <td><a class="btn" (click)="onDownloadClicked(item)"> <span class="glyphicon glyphicon-download-alt"
                                                                aria-hidden=" true"></span></a></td>
    <td></td>
  </tr>
  </tbody>
</table>


